<footer role="contentinfo">
  <div class="text-xs">
    © 2023, Dieter Limeback
    <ul>
      <li class="inline-block mx-1">
        <a href="/privacy-policy/">Privacy</a>
      </li>
      <li class="inline-block mx-1">
        <a href="/terms/">Terms</a>
      </li>
      <li class="inline-block mx-1">
        <a href="/disclaimer/">Disclaimer</a>
      </li>
    </ul>
  </div>
</footer>