<footer class="container footer" role="contentinfo">

  {% if newsletter != false %}
    <div class="newsletter-signup">
      <h2>Sign up for my newsletter, <em>Sharp Five</em></h2>
      <p>I publish a biweekly newsletter celebrating creativity, difference, and healing.</p>

      <form action="https://buttondown.email/api/emails/embed-subscribe/sharp-five" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/sharp-five', 'popupwindow')" class="form embeddable-buttondown-form">
        <input type="email" name="email" id="bd-email" placeholder="you@example.com" required />
        <input type="submit" value="Subscribe" class="button--primary" />
      </form>
    </div>
  {% endif %}

  <div class="fine-print">
    <ul>
      <li>
        <a href="mailto:hello@dieterlimeback.com" class="">hello@dieterlimeback.com</a>
      </li>
      <li>
        <a href="https://twitter.com/dlimeb" title="Twitter">Twitter</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/dlimeb/" title="LinkedIn">LinkedIn</a>
      </li>
    </ul>

    <ul>
      <li>
        © 2021, Dieter Limeback
      </li>
      <li>
        <a href="/privacy-policy/">Privacy</a>
      </li>
      <li>
        <a href="/terms/">Terms</a>
      </li>
      <li>
        <a href="/disclaimer/">Disclaimer</a>
      </li>
    </ul>
  </div>
</footer>