<footer class="container text-center" role="contentinfo">
  <div class="text-sm">
    © 2022, Dieter Limeback
    <ul>
      <li class="inline-block mx-1">
        <a href="/privacy-policy/">Privacy</a>
      </li>
      <li class="inline-block mx-1">
        <a href="/terms/">Terms</a>
      </li>
      <li class="inline-block mx-1">
        <a href="/disclaimer/">Disclaimer</a>
      </li>
    </ul>
  </div>
</footer>