/*-------------------------------------------------------------------------------

    COMPONENTS

    Styling for specific components (nav, forms, etc)

-------------------------------------------------------------------------------*/

/*
 * HEADER
 */
header {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;

  @include breakpoint('xl') {
    margin-bottom: 5rem;
  }
}

.site-logo {
  color: var(--text-color);
  transition: color 0.2s ease;

  &:hover {
    color: var(--action-color);
  }

  svg {
    height: 27px;
    width: 27px;

    path {
      fill: currentColor;
    }
  }
}


/*
 * BUTTONS
 */
.button--primary {
  @include mono-copy;
  font-weight: 600;
  background-color: var(--background-color);
  padding: 1em 1.5em;
  text-decoration: none;
  line-height: 1;
  border: 2px solid var(--text-color);
  transition: all 0.2s ease;
  display: inline-block;
  text-align: center;
  width: 100%;

  @include breakpoint('md') {
    width: auto;
  }

  &:hover {
    cursor: pointer;
    border-color: var(--action-color);
    color: var(--action-color);
  }
}
.button--plain {
  color: inherit;
  font-weight: 600;
  transition: color 0.2s ease;
  text-decoration-thickness: 2px;
  text-underline-offset: .17em;

  &:after {
    content: " →";
  }

  &:hover {
    color: var(--action-color);
  }

  &.button--back {
    &:before {
      content: "← "
    }
    &:after {
      content: "";
    }
  }
}
.sm-icon {
  display: inline-block;
  width: 2rem;
  color: var(--text-color);

  path,
  circle {
    fill: currentColor;
  }

  &:hover {
    &.twitter {
      color: #1DA1F2;
    }
    &.instagram {
      color: #cd486b;
    }
    &.linkedin {
      color: #0072b1;
    }
  }
}


/*
 * FORMS
 */
.form {
  &__row {
    margin-bottom: #{$font-leading}rem;
  }
  &__label {
    display: block;
    @include mono-copy;

    sup {
      font-size: 0.5rem;
      padding-left: 0.3em;
    }
  }
  &__input,
  &__textarea {
    background: var(--input-color);
    width: 100%;
    border: 1px solid transparent;
    padding: 0.5em 0.6em;

    &:focus {
      border-color: color('black');
    }
  }
  ::placeholder {
    font-style: italic;
    color: var(--text-color);
    opacity: 0.4;
  }
}


/*
 * KICKER
 */
 .kicker {
   @include body-copy;
   text-transform: uppercase;
   font-size: font-size('xs');
   letter-spacing: 0.05em;
   font-weight: 900;
   color: color('action');
   margin-bottom: #{$font-leading}rem;
 }


/*
 * TESTIMONIAL
 */
.testimonial {
  text-align: center;
  max-width: 40em;
  margin: vertical-spacing('xl') auto;

  &:before {
    content: "“";
    font-family: $font-serif;
    font-size: 6rem;
    line-height: 1;
    color: #CDD9E7;
  }

  &__content {
   @include mono-copy;
   font-style: italic;

   @include breakpoint('xl') {
    font-size: font-size('base');
   }
  }

  &__source {
   @include mono-copy;
   color: #64748B;
  }
}