/* 
This is the main SCSS file which kicks off the compile -- it's imported from
inside assets/js/index.js so webpack can do it's thing. Import other SCSS files
(however you want to organize them) from here.
*/
$var: white;

html {
  font-family: sans-serif;
  background: $var;
}

@import "typography";