/*-------------------------------------------------------------------------------

    LAYOUT

    Styling for major content containers.

-------------------------------------------------------------------------------*/

body {
  background-color: var(--background-color);
  padding: 2rem;
}

.content {
  width: 1380px;
  margin: 0 auto;
}