/*-------------------------------------------------------------------------------

    LAYOUT

    Styling for major content containers.

-------------------------------------------------------------------------------*/

body {
  background-color: var(--background-color);
  padding: 1rem;
}

.content {
  margin: 0 auto;

  @include breakpoint('md') {
    width: 600px;
  }
  @include breakpoint('xl') {
    width: 1250px;
  }
}