/*-------------------------------------------------------------------------------

    LAYOUT

    Styling for major content containers.

-------------------------------------------------------------------------------*/

body {
  background-color: var(--background-color);
  padding: 1rem;
}

/*
 * MAJOR CONTAINERS
 */
// Center everything
.container,
.container--narrow {
  margin: 0 auto;
}

// Entire content area
.container {
  @include breakpoint('md') {
    width: 600px;
  }
  @include breakpoint('xl') {
    width: 1280px;
  }
}

// Wrapper for minimal, narrow content
.container--narrow {
  max-width: 900px;
}


/*
 * SIMPLE COLUMNS
 */
.columns {
  display: flex;
  flex-direction: column;

  @include breakpoint('xl') {
    flex-direction: row;
  }
}
.column {
  width: 100%;

  &.half {
    @include breakpoint('xl') {
      width: 50%;
      margin-right: $gutter-width;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}