/*-------------------------------------------------------------------------------

    PAGES

    Override styling for any specific pages (if necessary).

-------------------------------------------------------------------------------*/


// Homepage
.hero {
  display: flex;
  align-items: center;
}
.image {
  margin-right: 3rem;

  img {
    width: 550px;
    border-radius: 6px;
  }

}