/*-------------------------------------------------------------------------------

    PAGES

    Override styling for any specific pages (if necessary).

-------------------------------------------------------------------------------*/


// Homepage
.hero {
  display: flex;
  align-items: center;

  flex-direction: column;

  @include breakpoint('xl') {
    flex-direction: row;
  }

  &__image {
    margin-bottom: 2rem;

    @include breakpoint('xl') {
      margin-right: 3rem;
      max-width: 550px;
    }

    img {
      border-radius: 6px;
    }
  }

  &__content {
    max-width: 31rem;
    hyphens: none;
  }
}

// Contact
.contact {
  display: flex;
  margin-top: 5rem;
  padding-right: 1rem;

  &__direct,
  &__form {
    width: 50%;
  }
}
.schedule {
  margin-top: 2rem;
}
