/*-------------------------------------------------------------------------------

    TYPOGRAPHY

    Styling for all forms of text.

-------------------------------------------------------------------------------*/

/*
 * BASE TYPOGRAPHY
 * Defaults for font definition, sizing, etc
 */
html {
  font-size: $font-base-size;
}

body {
  color: var(--text-color);
  font-family: $font-sans;
  line-height: $font-leading;
  -webkit-font-smoothing: antialiased;
}

@mixin body-copy {
  font-size: font-size('base');
}
@mixin body-copy-bold {
  font-weight: 700;
  letter-spacing: 0.01em;
}

@mixin mono-copy {
  font-family: $font-mono;
  font-size: font-size('sm');
}

/*
 * RAW ELEMENTS
 * Styling for headers, paragraphs, lists, etc
 */
// HEADERS
h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-bottom: #{$font-leading}rem;
  letter-spacing: -0.02em;
}

h1 {
  font-weight: 400;
  line-height: $font-leading-tight;
  hyphens: none;
  font-size: font-size('xl');

  @include breakpoint('xl') {
    font-size: font-size('2xl');
  }
}
h2 {
  // margin-top: calc(2 * #{$font-leading}rem);
  font-size: font-size('lg');
}
h3 {
  font-size: font-size('base');
}

// PARAGRAPHS
p {
  @include body-copy;
  margin-bottom: #{$font-leading}rem;
}

// LINKS
a {
  color: inherit;
  font-weight: 600;
  transition: color 0.2s ease;
  text-decoration-thickness: 2px;
  text-underline-offset: .17em;

  &:hover {
    // color: var(--action-color);
  }
}

// LISTS
ul {}
ol {}
li {}

// BLOCKQUOTES
blockquote {}

// STYLED TEXT
small,
figcaption {
  font-size: font-size('sm');
}
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}

// Classnames provided by https://github.com/davidmerfield/Typeset
.small-caps {
  font-variant: small-caps;
  font-size: font-size('sm');
}
.pull-single {
  margin-left:-.27em;
}
.push-single {
  margin-right:.27em;
}
.pull-double,
.push-double,
.pull-single,
.push-single {
  display: inline-block;
}
.pull-double {
  margin-left:-.46em;
}
.push-double {
  margin-right:.46em;
}