/*-------------------------------------------------------------------------------

    TYPOGRAPHY

    Styling for all forms of text.

-------------------------------------------------------------------------------*/

$font-base-size: 137.5%; // 22px
$letter-spacing: -0.04em;

/**
 * BASE TYPOGRAPHY
 * Defaults for font definition, sizing, etc
 */
html {
  font-size: $font-base-size;
}

body {
  font-family: var(--font-serif);
  color: var(--text-color);
}


/**
 * RAW ELEMENTS
 * Styling for headers, paragraphs, lists, etc
 */
// HEADERS
h1 {
  font-size: var(--font-size-3xl);
}
h2 {
  font-size: var(--font-size-2xl);
}
h3 {
  font-size: var(--font-size-xl);
}
h4 {
  font-size: var(--font-size-base);
}

// PARAGRAPHS
p {
  font-size: var(--font-size-base);
  letter-spacing: $letter-spacing;
}

// LINKS
a {}

// LISTS
ul {}
ol {}
li {
  letter-spacing: $letter-spacing;
}

// BLOCKQUOTES
blockquote {}

// STYLED TEXT
small,
figcaption {
  font-size: var(--font-size-sm);
}
em {
  font-style: italic;
  letter-spacing: -0.025em;
}
strong {
  font-weight: bold;
  letter-spacing: -0.025em;
}

// Classnames provided by https://github.com/davidmerfield/Typeset
.small-caps {
  font-variant: small-caps;
  font-size: var(--font-size-sm);
}
.pull-single {
  margin-left:-.27em;
}
.push-single {
  margin-right:.27em;
}
.pull-double,
.push-double,
.pull-single,
.push-single {
  display: inline-block;
}
.pull-double {
  margin-left:-.46em;
}
.push-double {
  margin-right:.46em;
}
