/*-------------------------------------------------------------------------------

    TYPOGRAPHY

    Styling for all forms of text.

-------------------------------------------------------------------------------*/

/*
 * BASE TYPOGRAPHY
 * Defaults for font definition, sizing, etc
 */
html {
  font-size: $font-base-size;
}

body {
  color: var(--text-color);
  font-family: $font-sans;
  line-height: $font-leading;
  -webkit-font-smoothing: antialiased;
}

@mixin body-copy {
  font-size: font-size('base');
}
@mixin mono-copy {
  font-family: $font-mono;
  font-size: font-size('sm');
}
@mixin bold {
  font-weight: 700;
  letter-spacing: 0.01em;
}
@mixin link {
  color: var(--text-color-bold);
  text-decoration: none;
}


/*
 * RAW ELEMENTS
 * Styling for headers, paragraphs, lists, etc
 */
// HEADERS
h1,
h2 {
  margin-bottom: #{$font-leading}rem;
  color: var(--text-color-bold);
}

h1 {
  font-weight: 400;
  hyphens: none;
  font-size: font-size('xl');
  letter-spacing: -0.01em;
  line-height: 1;
  margin-bottom: calc(2 * #{$font-leading}rem);

  // @include breakpoint('xl') {
  //   font-size: font-size('2xl');
  // }
}
h2 {
  @include body-copy;
  @include bold;
  margin-top: calc(2 * #{$font-leading}rem);

  .newsletter-signup &,
  .page-home & {
    margin-top: 0;
  }
}

// PARAGRAPHS
p {
  @include body-copy;
  margin-bottom: #{$font-leading}rem;
}

// LINKS
a {
  color: var(--text-color-bold);
  font-weight: 500;
  transition: all 0.2s ease;
  text-decoration-thickness: 1px;
  text-underline-offset: .17em;

  &:hover {
    color: var(--text-color-faded);
  }
}

// LISTS
ul {}
ol {}
li {}

// BLOCKQUOTES
blockquote {}

// STYLED TEXT
small,
figcaption {
  font-size: font-size('sm');
}
em {
  font-style: italic;
}
strong {
  @include bold;
}

// Classnames provided by https://github.com/davidmerfield/Typeset
.small-caps {
  font-variant: small-caps;
  font-size: font-size('sm');
}
.pull-single {
  margin-left:-.27em;
}
.push-single {
  margin-right:.27em;
}
.pull-double,
.push-double,
.pull-single,
.push-single {
  display: inline-block;
}
.pull-double {
  margin-left:-.46em;
}
.push-double {
  margin-right:.46em;
}