/*-------------------------------------------------------------------------------

   UTILITIES

   Misc helper classes.

-------------------------------------------------------------------------------*/


// Selection highlight
// ::-moz-selection {
//   color: #fff;
//   background-color: var(--action-color);
// }
// ::selection {
//   color: #fff;
//   background-color: var(--action-color);
// }

// Hide visually, for screenreaders only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


// Simple whitespace between content areas
.vertical-spacing {
  margin-top: vertical-spacing('xl');
}