/*-------------------------------------------------------------------------------

    VARIABLES

    Atomic definitions for type, colour, etc.

-------------------------------------------------------------------------------*/

/*
 * TYPOGRAPHY
 */
$font-serif: "Spectral", serif;
$font-mono: "Space Mono", monospaced;
$font-leading-tight: 1;
$font-leading: 1.4;
$font-base-size-small: 137.5%; // 22px (mobile)
$font-base-size: 150%; // 24px (desktop)
$font-letter-spacing: -0.03em;
$font-sizes: (
  'xs': 0.64rem,
  'sm': 0.85rem,
  'md': 1rem,
  'base': 1rem,
  'lg': 1.25rem,
  'xl': 1.56rem,
  '2xl': 1.95rem,
  '3xl': 2.44rem,
  '4xl': 3rem,
  '5xl': 3.75rem,
);


/*
 * COLORS
 */
$colors: (
  'action': #00f,
  'action-light': #3060ff,
  'white': #fff,
  'black': #050e1f
);


/*
 * RESPONSIVE BREAKPOINTS
 */
$breakpoints: (
  'xs': 360px,
  'sm': 480px,
  'md': 768px,
  'lg': 960px,
  'xl': 1200px,
  '2xl': 1500px
);


/*
 * LIGHT/DARK MODE
 */
:root {
  @media (prefers-color-scheme: light) {
    --background-color: #{color('white')};
    --text-color: #{color('black')};
    --action-color: #{color('action')};
  }

  @media (prefers-color-scheme: dark) {
    --background-color: #{color('black')};
    --text-color: #{color('white')};
    --action-color: #{color('action-light')};
  }
}