/*-------------------------------------------------------------------------------

    VARIABLES

    Atomic definitions for type, colour, etc.

-------------------------------------------------------------------------------*/

/*
 * TYPOGRAPHY
 */
$font-serif: 'Spectral', Georgia, 'Times New Roman', Times, serif;
$font-mono: "IBM Plex Mono", monospaced;
$font-leading-tight: 1;
$font-leading: 1.4;
$font-base-size: 137.5%; // 22px
$font-letter-spacing: -0.025em;
$font-sizes: (
  'xs': 0.75rem,
  'sm': 0.9rem,
  'md': 1rem,
  'base': 1rem,
  'lg': 1.25rem,
  'xl': 1.56rem,
  '2xl': 1.95rem,
  '3xl': 2.44rem,
  '4xl': 3rem,
  '5xl': 3.75rem,
);


/*
 * COLORS
 */
$colors: (
  'action': #00f,
  'action-light': #5071ff,
  'white': #fff,
  'gray': #f3f4f6,
  'black': #050e1f
);


/*
 * RESPONSIVE BREAKPOINTS
 */
$breakpoints: (
  'xs': 360px,
  'sm': 480px,
  'md': 768px,
  'lg': 960px,
  'xl': 1366px,
  '2xl': 1920px
);


/*
 * SPACING
 */
 $gutter-width: 2rem;

 $vertical-spacing: (
  'sm': calc(0.5 * #{$font-leading}rem),
  'md': #{$font-leading}rem,
  'lg': calc(2 * #{$font-leading}rem),
  'xl': calc(4 * #{$font-leading}rem),
  '2xl': calc(6 * #{$font-leading}rem),
 );


/*
 * LIGHT/DARK MODE
 */
:root {
  @media (prefers-color-scheme: light) {
    --background-color: #{color('white')};
    --text-color: #{color('black')};
    --action-color: #{color('action')};
    --input-color: #{color('gray')};
  }

  @media (prefers-color-scheme: dark) {
    --background-color: #{color('black')};
    --text-color: #{color('white')};
    --action-color: #{color('action-light')};
  }
}